<p><%= link_to "New Article", new_article_path %></p>


<ul>
    <% @articles.each do |article| %>
    <li>
        <%= link_to article.title, article_path( article )%> by <%= article.author || "Anonymous" %> <br />
    </li>
    <% end %>
</ul>