<% if signed_in? %>
<p><%= button_to "New Article", new_article_path, method: :get, class: "btn good" %></p>
<% end %>

    <% @articles.each do |article| %>
    <div class="articlelink">
        <%= link_to article.title, article_path( article )%> by <%= article.author || "Anonymous" %> <br />
    </div>
    <% end %>
