body {
    font-family: monospace;
    font-size: 200%;
    margin: 0;
    background-color: #f5f5f5;
}
header {
    background-color: pink;
    color: black;
    font-weight: 700;
    padding-bottom: 6px;
}
.logo {
    max-height: 3rem;
    margin: 4px;
    margin-bottom: -8px;
}
nav {
    justify-content: space-between;
    display: inline-flex;
    width: 88vw;
}
#account {
    display: inline-flex;
}

header a {
    color: black;
    padding-right: 0.5rem;
}

#content {
    align-items: center;
    justify-content: center;
    padding-left: 5.7rem;
    padding-top: 2rem;
}

.btn {
    font-size: 100%;
    font-family: monospace;
}

.good {
    background-color: greenyellow;
}

.bad {
    background-color: indianred;
}

.neutral {
    background-color: gold;
}

.alert, .notice {
    padding-left: 5.7rem;
    display: block;
    width: calc(100vw - 5.7rem)
}
.alert {
    background-color: salmon;
    color: red;
}
.notice {
    background-color: greenyellow;
    color: green;
}